@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-emerald-700;
}
ol {
  @apply list-decimal text-xs pl-4;
}
ul {
  @apply list-disc text-xs pl-4;
}

.container {
  @apply px-2 w-[90%] max-w-[1180px] mx-auto;
}
.btn {
  @apply px-4 py-2 rounded shadow bg-white text-gray-500;
}
.btn-primary {
  @apply px-4 py-2 rounded shadow bg-emerald-700 text-white hover:bg-emerald-800;
}

.navigation {
  @apply fixed top-0 -left-full w-[90%] max-w-[300px] bg-gray-100 h-screen shadow;
  &-show {
    left: 0;
  }

  transition: left 0.25s ease-in-out;
}

.fake-checkbox {
  @apply flex w-8 h-8 border border-gray-200 rounded shadow relative;
  flex: 1 0 2rem;
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @apply bg-emerald-700 rounded shadow cursor-pointer;
    opacity: 0;
    transition: all 0.2s;
  }
}
.original-checkbox:checked + .fake-checkbox::before {
  opacity: 1;
}

.header-3 {
  @apply text-xl py-4 mt-2 font-bold uppercase;
}
